:root{
    --background-color: #D3D4D9;
    --header-color: #4B88A2;
    --header-text-color: #252627;
    --main-text-color: #0C120C;
    --nav-header-color: #BB0A21;
    --nav-text-color: #ECEBF3;
    --footer-color: #252627;
    --footer-text-color: #FFF9FB;
}

body {
    background-color: var(--background-color);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.nav-bar {
    display: flex;
    background-color: var(--nav-header-color);
    color: var(--nav-text-color); 
    justify-content: space-around; 
    border-radius: 2rem ;
    align-items: center;
    height: 60px;
}

.profile-image {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

a {
    text-decoration: none;

}

.nav-bar > a {
    color: var(--nav-text-color);
}

.image-container {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 5rem;
}

.dj {
    border-radius: 100%
}

.footer-container {
    display: flex;
    background-color: var(--header-color);
    justify-content: space-around;
    align-items: center;
    height: 5rem;
    border-radius: 2rem;
    text-align: center;
}

.footer-container a {
    display: inline-block;
    color: var(--footer-text-color);
    margin: 0 1rem;
    border: 1px dotted black;

}

p {
    text-align: center;
}

.about-img {
    display: flex;
    height: 40%;
    width: 40%;
    justify-content: center;
    border-radius: 1rem;
    margin-bottom: 5rem;

}

.body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

